/**
    Errors should never happen they are clearly a mistake or a compiler error (with no gray area).   Warnings are also for serious stuff that do not cause a program to crash.

    Github might be checking (via npm test) for errors and or warnings before allowing a merge into the main branch.
*/
{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "no-undef": ["error"],
        "no-const-assign": ["error"],
        "no-this-before-super": ["error"],
        "use-isnan": ["error"],

        "prefer-const": ["warn"],
        "no-var": ["warn"],
        "no-unused-vars": ["warn"],
        "no-unreachable": ["warn"],
        "no-shadow": ["warn"],
        "no-constant-condition": ["warn"],
        "no-shadow-restricted-names": ["off"], # warn misfired on 'import' statements
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
    }
}
